.form {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 200px;
}
.submitButton-container {
    display: flex;
    justify-content: center;
}
.submitButton {
    margin-top:10px;
    cursor:pointer;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
}
.submitButton:hover {
    color: white;
    background-color: #3497ff;
}
.succesfull {
    font-size: 16px;
    color: green;
    text-align: center;
}